.card-container {
  width: 300px;
  border-radius: 4px;

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .container {
    padding: 2px 16px;
    flex-grow: 1;
  }
}
